<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bloombrain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity"></activity>

        <activity android:name=".Activity.WelcomeActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegistrationActivity" />
        <activity android:name=".Activity.QuestionActivity" />
        <activity android:name=".Activity.PlanDetailActivity" />
        <activity android:name=".Activity.PlanActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.SplashScreenActivity" android:theme="@style/NoAcionAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>